/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f5ff; 
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F3E5F5; 
}

.container1 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #BBDEFB; 
}

.container2 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #C8E6C9; 
}

.container3 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF9C4; 
  border: 1px solid #000;
  font-family: 'Times New Roman', serif;
}

.container4 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5bac4; 
}

.container7 {
  padding: 10px;
  margin: 0 auto;
  text-align: left;
}
/* Header Styles */

header {
  background-color: #ceb5f5;
  padding: 20px;
  text-align: center;
}

/* Navigation Styles */

nav {
  /* Add your navigation styles here */
}

/* Main Styles */

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

/* Home Section Styles */

#home {
  text-align: center;
}

#home .container {
  padding: 40px;
}

#home h1 {
  font-size: 32px;
  margin-bottom: 20px;
   
}

#home img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* Gallery Section Styles */

#gallery .container,
#gallerys .container,
#about .container,
#guestbook .container,
#contact .container {
  text-align: center;
}

#gallery h2,
#gallerys .h2,
#about h2,
#guestbook h2,
#contact h2 {
  font-size: 24px;
  margin-bottom: 20px;

}

.gallery,
.gallerys,
.about-content,
.guestbook-form form,
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content {
  
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
}
.gallerys {
  flex-wrap: wrap;
  justify-content: center;
  border: #ceb5f5;
}
.photo {
  margin: 10px;
  text-align: center;
}

.photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.photo p {
  font-style: italic;
  margin-top: 10px;
}

/* Guestbook Section Styles */

.guestbook-form,
.guestbook-messages {
  margin-bottom: 20px;
}

.guestbook-form button,
.contact-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#audio-player {
    width: 300px;
    height: 50px;
    background-color: #a5f6f5;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #audio-player audio {
    width: 100%;
  }
  
  #audio-player button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .photo:hover {
    transform: scale(1.1);
  }
  
  #gallerys {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  #gallerys.show {
    opacity: 1;
  }

  header nav .horizontal-nav {
    display: flex;
    list-style: none;
  }
  
  header nav .horizontal-nav li {
    margin-right: 10px;
  }
  
  header nav .horizontal-nav li a {
    text-decoration: none;
    color: #333;
  }
  
  header .horizontal-nav {
  width: 100%; /* Adjust the width value as needed */
  margin: 0 auto; /* Center the top bar horizontally */
}

  #NewV {
    background: linear-gradient(to right, #f36666, #f36666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }